<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.customerMapper">
    
    <select id="getCustomerCount" resultType="java.lang.Integer">
        select count(*) from customer
        <if test="search_option != null">
        <if test="keyword != null">
	        <if test="search_option == 'cust_num'.toString()">
				where cust_num like CONCAT('%', #{keyword}, '%')
			</if>
				
			<if test="search_option == 'cust_name'.toString()">
				where cust_name like CONCAT('%', #{keyword}, '%')
			</if>
				
			<if test="search_option == 'cust_uptae'.toString()">
				where cust_uptae like CONCAT('%', #{keyword}, '%')
			</if>
        </if>
        </if>
        
    </select>
    
    <select id="getCustomer" resultType="com.itwillbs.domain.CustomerDTO">
        select * from customer
        where business_num = #{business_num}   	
    </select>
    
    
    <select id="getCustomerList" resultType="com.itwillbs.domain.CustomerDTO">
        select * from customer
        <if test="search_option != null">
        <if test="keyword != null">
	        <if test="search_option == 'cust_num'.toString()">
				where cust_num like CONCAT('%', #{keyword}, '%')
			</if>
				
			<if test="search_option == 'cust_name'.toString()">
				where cust_name like CONCAT('%', #{keyword}, '%')
			</if>
				
			<if test="search_option == 'cust_uptae'.toString()">
				where cust_uptae like CONCAT('%', #{keyword}, '%')
			</if>
        </if>
        </if>
        order by cust_num desc 
        limit #{startRow} , #{pageSize}    	
    </select>
    
    <insert id="insertCustomer">
    	insert into customer(cust_num,cust_gubun2,cust_gubun1,business_num,cust_name,boss_name,cust_tel,cust_uptae,cust_jongmok,man_name,man_tel,man_email,fax,cust_post_num,cust_address,cust_address2,url_path,remarks) 
    	values(concat('CS',DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 9 HOUR), '%Y%m%d%H%i%s')), #{cust_gubun2},#{cust_gubun1},#{business_num},#{cust_name},#{boss_name},#{cust_tel},#{cust_uptae},#{cust_jongmok},#{man_name},#{man_tel},#{man_email},#{fax},#{cust_post_num},#{cust_address},#{cust_address2},#{url_path},#{remarks})
    </insert>	

</mapper>