<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.qualityMapper">
<!-- 	<select id="ProductionList" resultType="com.itwillbs.domain.ProductionDTO"> -->
<!--         select * from employee -->
<!--         where emp_num = #{emp_num} and emp_pass = #{emp_pass} -->
<!--     </select> -->
    
    
<!--     	https://mybatis.org/mybatis-3/ -->
    <resultMap type="map" id="qualityListMap">
<!--    column="디비열이름" property="멤버변수이름" -->
    	<id column="qc_num" property="qc_num"/>
    	<result column="wo_num" property="wo_num"/>
    	<result column="manu_name" property="manu_name"/>
    	<result column="manu_code" property="manu_code"/>
    	<result column="item_name" property="item_name"/>
    	<result column="item_num" property="item_num"/>
    	<result column="qc_code" property="qc_code"/>
    	<result column="qc_status" property="qc_status"/>
    	<result column="manu_tocount" property="manu_tocount"/>
    	<result column="qc_qty" property="qc_qty"/>
    	<result column="manu_fail" property="manu_fail"/>
    	<result column="qc_date" property="qc_date"/>
    	<result column="wo_qty" property="wo_qty"/>
    	<result column="fail_num" property="fail_num"/>
    	<result column="fail_qty" property="fail_qty"/>
    	<result column="fail_reson" property="fail_reson"/>
    	<result column="fail_date" property="fail_date"/>
    </resultMap>
    
<!--     불량 리스트 map -->
    <!--     	https://mybatis.org/mybatis-3/ -->
    <resultMap type="map" id="qualityFailList">
<!--    column="디비열이름" property="멤버변수이름" -->
    	<id column="wo_num" property="wo_num"/>
    	<result column="manu_name" property="manu_name"/>
    	<result column="manu_code" property="manu_code"/>
    	<result column="item_name" property="item_name"/>
    	<result column="item_num" property="item_num"/>
    	<result column="fail_num" property="fail_num"/>
    	<result column="fail_qty" property="fail_qty"/>
    	<result column="fail_reson" property="fail_reson"/>
    	<result column="fail_date" property="fail_date"/>
    </resultMap>
    
<!--     품질LIST -->
    <select id="getQualityListMap" resultMap="qualityFailList">
    	select q.qc_num, p.wo_num, p.manu_name, p.manu_code, p.item_name, 
		p.item_num, CONCAT('QC',lpad(q.qc_num,6,0)) qc_code, q.qc_status, q.emp_Kname emp_Kname,
		q.qc_qty, q.manu_fail, sum(p.manu_tocount) manu_tocount, w.wo_qty, date_format(q.qc_date, '%Y-%m-%d') qc_date,
        d.fail_num, d.fail_qty, date_format(d.fail_date, '%Y-%m-%d') fail_date
		from productstatus p right join workorder w	on p.wo_num = w.wo_num 
		left join qc_status q on q.wo_num = p.wo_num
        left join defective d on q.wo_num = d.wo_num
		<where>
    		<if test="wo_num != null and !wo_num.equals('')">p.wo_num like CONCAT('%',#{wo_num},'%') </if>
			<if test="manu_name != null and !manu_name.equals('')">and p.manu_name like CONCAT('%',#{manu_name},'%')</if>
			<if test="item_name != null and !item_name.equals('')">and p.item_name like CONCAT('%',#{item_name},'%')</if>
			<if test="emp_kname != null and !emp_kname.equals('')">and q.emp_Kname like CONCAT('%',#{emp_Kname},'%')</if>
			<if test="qc_sdate != null and !qc_sdate.equals('')">and qc_date between date(#{qc_sdate}) and now()</if>
			<if test="qc_edate != null and !qc_edate.equals('')">and qc_date between date(#{qc_sdate}) and DATE_ADD(date_format(#{qc_edate}, '%Y-%m-%d %H:%i:%s'), INTERVAL 1 DAY)</if>

<!-- 			<if test="fail_sdate != null and !fail_sdate.equals('') and fail_edate != null and !fail_edate.equals('')">OR fail_date between date(#{fail_sdate}) and date(#{fail_edate})+1</if> -->
		</where>
        group by p.wo_num
		having manu_tocount is not null
		order by qc_num
    </select>
    
<!--     품질팝업시 데이터나오는것 -->
        <select id="getQualityWrite" resultType="com.itwillbs.domain.QualityDTO">
    	select q.qc_num, p.wo_num, p.manu_name, p.manu_code, p.item_name, 
		p.item_num, q.qc_code, w.wo_qty, q.qc_status, q.emp_Kname,
		q.qc_qty, q.manu_fail, sum(p.manu_tocount) manu_tocount,q.qc_date
		from productstatus p right join workorder w	on p.wo_num = w.wo_num 
		left join qc_status q on q.wo_num = p.wo_num where p.wo_num = #{wo_num} group by p.wo_num
		</select>
<!-- 		세션값을 이름으로 변경 -->
		<select id="getemp_Knamesession" resultType="com.itwillbs.domain.QualityDTO">
			select emp_num, emp_Kname
			from employee where emp_num = #{emp_num}
    	</select>
<!--     	QC코드 받아오는 쿼리 -->
    	<select id="getQualityCode" resultType="com.itwillbs.domain.QualityDTO">
			select wo_num, lpad(qc_num+1,6,0) qc_code from qc_status
			where wo_num = #{wo_num}
    	</select>
<!--     	insert 쿼리 -->
   		<insert id="insertQuality">
   			insert into qc_status (wo_num, manu_name, manu_code, item_name, item_num, qc_code, emp_Kname, qc_status, manu_tocount, qc_qty, manu_fail, qc_date)
			values (#{wo_num}, #{manu_name}, #{manu_code}, #{item_name}, #{item_num}, #{qc_num}+1, #{emp_Kname}, #{qc_status}, #{manu_tocount}, #{qc_qty}, #{manu_fail}, DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%s'));
    	</insert>
    	
    	<update id="updateQuality">
   			update qc_status set qc_qty = #{qc_qty}, qc_status = #{qc_status}, qc_date = DATE_FORMAT(now(), '%Y-%m-%d %h:%i:%s'), manu_fail = #{manu_fail}
    		where qc_num = #{qc_num} 
    	</update>
    	
<!--     불량 쿼리	 -->
    	<select id="getQualityFailList" resultMap="qualityListMap">
    		select CONCAT('F',lpad(d.fail_num,6,0)) fail_num, q.wo_num, q.manu_name, q.manu_code, q.item_name, q.item_num, d.emp_Kname, (q.manu_fail+p.manu_fail) fail_qty, date_format(d.fail_date, '%Y-%m-%d') fail_date
        	from productstatus p join qc_status q
        	on p.wo_num = q.wo_num left join defective d on q.wo_num = d.wo_num
<!--         	<where> -->
<!--     		<if test="fail_num != null and !fail_num.equals('') and !fail_num.equals(0)"> fail_num like CONCAT('%',#{fail_num},'%') </if> -->
<!-- 			<if test="manu_name != null and !manu_name.equals('')">OR p.manu_name like CONCAT('%',#{manu_name},'%')</if> -->
<!-- 			<if test="item_name != null and !item_name.equals('')">OR p.item_name like CONCAT('%',#{item_name},'%')</if> -->
<!-- 			<if test="emp_Kname != null and !emp_Kname.equals('')">OR q.emp_Kname like CONCAT('%',#{emp_Kname},'%')</if> -->
<!-- 			<if test="fail_date != null and !fail_date.equals('') and fail_date != null and !fail_date.equals('')">OR qc_date between date(#{fail_date}) and date(#{fail_date})+1</if> -->
<!-- 			</where> -->
        	group by q.emp_Kname, q.manu_fail, q.wo_num
        	order by fail_num
    	</select>
    	
    	<select id="getFailWrite" resultType="com.itwillbs.domain.QualityDTO">
    		select CONCAT('F',lpad(d.fail_num,6,0)) fail_num, q.wo_num, q.manu_name, q.manu_code, q.item_name, q.item_num, 
			sum(p.manu_fail)+q.manu_fail fail_qty, d.fail_reson, d.emp_Kname from productstatus p join qc_status q on p.wo_num 
			= q.wo_num left join defective d on q.wo_num = d.wo_num where q.wo_num = #{wo_num} group 
			by q.emp_Kname, fail_qty, q.wo_num;
    	</select>
    	
    	<insert id="insertFail">
    		insert into defective(wo_num, manu_name,manu_code,item_name,item_num,emp_Kname,
			fail_qty,fail_reson,fail_date)value ( #{wo_num}, #{manu_name}, #{manu_code}, #{item_name},
 			#{item_num}, #{emp_Kname}, #{fail_qty}, #{fail_reson},
 			DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%s'))
    	</insert>
    	
    	<update id="updateFail">
   			update defective set fail_reson = #{fail_reson}, fail_date = DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%s')
    		where fail_num = #{fail_num} 
    	</update>

</mapper>