<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.shippingMapper">

	<insert id="shippingInsertBoard">
		INSERT INTO shipping(shipping_num,wo_num,item_num,item_name,delivery_date,out_date,
		out_qty,qc_qty,incharge_name,business_name)
		VALUES(#{shipping_num},#{wo_num},#{item_num},#{item_name},
		#{delivery_date},#{out_date},#{out_qty},#{qc_qty},#{incharge_name},#{business_name})
	</insert>

	<select id="getBoardList" resultType="com.itwillbs.domain.ShippingDTO">
	SELECT shipping_num, 
			wo_num, 
			item_num, 
			item_name, 
			date_format(delivery_date,'%Y-%m-%d') as delivery_date, 
			date_format(out_date,'%Y-%m-%d') as out_date,
			out_qty,
			qc_qty,
			incharge_name,
			business_name,
			COALESCE(out_progress,'대기')as out_progress
			from shipping
		<if test="search_option == 'product_name'.toString()">
			where item_name like CONCAT('%', #{search},'%')
		</if>
		<if test="search_option == 'item_num'.toString()">
			where item_num like CONCAT('%',#{search},'%')
		</if>
	
	</select>
<!-- 검색어	 -->
	<select id="getShippingCount" resultType="java.lang.Integer">
		select count(*) 
		
		<if test="search_option == 'product_name'.toString()">
			where item_name like concat('%', #{search},'%')
		</if>
		<if test="search_option == 'item_num'.toString()">
			where item_num like concat('%',#{search},'%')
		</if>
	</select>
	
	<select id="selectShippingTotal" resultType="java.lang.Integer">
		select count(*) total from shipping
	
	</select>

	<select id="getShippingListMap" resultType="map">
		select qc_status.wo_num, 
		qc_status.item_num, qc_status.item_name, qc_status.qc_qty
		from qc_status  join workorder
		on qc_status.wo_num = workorder.wo_num
		where qc_status.wo_num like '%WO%'
	</select>

	<select id="getEmployeeList" resultType="com.itwillbs.domain.ContractDTO">
	select distinct incharge_name, business_name from contract
	</select>

	<update id="updateShipping">
		update shipping
		set out_progress=#{out_progress}
		
	</update>











</mapper>