<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwillbs.mappers.unstoreMapper">
	
	<select id="getUnstoreList" resultType="map">
		select unsto_num,workorder.wo_num, DATE_FORMAT(workorder.wo_date,'%Y-%m-%d') as wo_date, workorder.wo_qty, contract.business_name, 
				contract.item_name, DATE_FORMAT(contract.out_date,'%Y-%m-%d') as out_date, COALESCE(unsto_progress,'미출고') as unsto_progress,
				contract.item_num, DATE_FORMAT(unsto_date,'%Y-%m-%d') as unsto_date, emp_num
		from unstore
		right outer join workorder
		on unstore.wo_num=workorder.wo_num
		right outer join contract
		on workorder.business_num = contract.business_num
		where workorder.wo_available=1
		
		<if test="unsto_num != null and !unsto_num.equals('')">
        	and unsto_num like concat ('%',#{unsto_num}, '%')
        </if>
        
        <if test="emp_num != null and !emp_num.equals('') and emp_num != 0">
        	and emp_num like concat ('%',#{emp_num}, '%')
        </if>
        
        <if test="item_name != null and !item_name.equals('')">
        	and products.item_name like concat ('%',#{item_name}, '%')
        </if>
        
        <if test="startDate != null and !startDate.equals('')">
        	and sto_date like concat ('%',#{startDate}, '%')
        </if>
        
         <if test="endDate != null and !endDate.equals('')">
        	and sto_date like concat ('%',#{endDate}, '%')
        </if>
        limit #{startRow}, #{pageSize}       
        
	</select>
	
	<select id="getUnstoreListCount" resultType="java.lang.Integer">
		select count(*)
		from (select unsto_num,workorder.wo_num, DATE_FORMAT(workorder.wo_date,'%Y-%m-%d') as wo_date, workorder.wo_qty, contract.business_name, 
				contract.item_name, DATE_FORMAT(contract.out_date,'%Y-%m-%d') as out_date, COALESCE(unsto_progress,'미출고') as unsto_progress,
				contract.item_num, DATE_FORMAT(unsto_date,'%Y-%m-%d') as unsto_date, emp_num
		from unstore
		right outer join workorder
		on unstore.wo_num=workorder.wo_num
		right outer join contract
		on workorder.business_num = contract.business_num
		where workorder.wo_available=1
		<if test="unsto_num != null and !unsto_num.equals('')">
        	and unsto_num like concat ('%',#{unsto_num}, '%')
        </if>
        
        <if test="emp_num != null and !emp_num.equals('')">
        	and emp_num like concat ('%',#{emp_num}, '%')
        </if>
        
        <if test="item_name != null and !item_name.equals('')">
        	and products.item_name like concat ('%',#{item_name}, '%')
        </if>
        
        <if test="startDate != null and !startDate.equals('')">
        	and sto_date like concat ('%',#{startDate}, '%')
        </if>
        
         <if test="endDate != null and !endDate.equals('')">
        	and sto_date like concat ('%',#{endDate}, '%')
        </if>
        order by unsto_num)	as subquery
	
	</select>
	
	
	<insert id="insertUnstore">
		insert into unstore (unsto_num, wo_num, item_name, unsto_date,
							unsto_progress, unsto_qty, emp_num, item_num)
			   values (
			    concat('UST',DATE_FORMAT(NOW(),'%y%m%d%H%i%S')),
			    #{wo_num},
			    #{item_name},
			    #{unsto_date},
			    #{unsto_progress},
			    #{unsto_qty},
			    #{emp_num},
			    #{item_num}
			   )
	
	</insert>
	
	
	<select id="getUnstoreDetailList" resultType="map">
		select unsto_num,workorder.wo_num, DATE_FORMAT(workorder.wo_date,'%Y-%m-%d') as wo_date, workorder.wo_qty, contract.business_name, 
				contract.item_name, DATE_FORMAT(contract.out_date,'%Y-%m-%d') as out_date, COALESCE(unsto_progress,'미출고') as unsto_progress,
				contract.item_num, DATE_FORMAT(unsto_date,'%Y-%m-%d') as unsto_date, emp_num, workorder.wo_emp
		from unstore
		right outer join workorder
		on unstore.wo_num=workorder.wo_num
		right outer join contract
		on workorder.business_num = contract.business_num
		where workorder.wo_available=1 and workorder.wo_num =#{wo_num}
	
	</select>

</mapper>