<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwillbs.mappers.unstoreMapper">

	<select id="getUnstoreListUnreleased" resultType="map">
		select workorder.wo_num, DATE_FORMAT(workorder.wo_date,'%Y-%m-%d') as wo_date, workorder.wo_qty, contract.business_name, 
				contract.item_name, DATE_FORMAT(contract.out_date,'%Y-%m-%d') as out_date, COALESCE(unsto_progress,'미출고') as unsto_progress
		from unstore
		right outer join workorder
		on unstore.wo_num=workorder.wo_num
		right outer join contract
		on workorder.business_num = contract.business_num
		where workorder.wo_available=1
	</select>

</mapper>