<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwillbs.mappers.unstoreMapper">

	<select id="getUnstoreListUnreleased" resultType="map">
		select unsto_num,workorder.wo_num, DATE_FORMAT(workorder.wo_date,'%Y-%m-%d') as wo_date, workorder.wo_qty, contract.business_name, 
				contract.item_name, DATE_FORMAT(contract.out_date,'%Y-%m-%d') as out_date, COALESCE(unsto_progress,'미출고') as unsto_progress,
				contract.item_num, DATE_FORMAT(unsto_date,'%Y-%m-%d') as unsto_date, emp_num
		from unstore
		right outer join workorder
		on unstore.wo_num=workorder.wo_num
		right outer join contract
		on workorder.business_num = contract.business_num
		where workorder.wo_available=1 and COALESCE(unsto_progress,'미출고')='미출고'
	</select>
	
	<insert id="insertUnstore">
		insert into unstore (unsto_num, wo_num, item_name, unsto_date,
							unsto_progress, unsto_qty, emp_num, item_num)
			   values (
			    concat('UST',DATE_FORMAT(NOW(),'%y%m%d%H%i%S')),
			    #{wo_num},
			    #{item_name},
			    #{unsto_date},
			    #{unsto_progress},
			    #{unsto_qty},
			    #{emp_num},
			    #{item_num}
			   )
	
	</insert>
<!-- <update id="updateStock_unstore">
		update stock
		set stock.stk_qnt = stock.stk_qnt - (select unsto_qty
											 from unstore
											 where wo_num=#{wo_num)
		where item_num = #{item_num}				
	</update>  -->

</mapper>