@charset "UTF-8";

body{
	font-size:10pt;
}
button{
	font-size:9pt;
}
table{
   width: 100%;
   text-align: center;
   border-color: #6C7383;
   border-collapse: collapse;
}
 th,td{ 
 	border:1px solid #cccccc; 
 	padding:3px; 
 	
 } 

.div2{
	width:600px;
	text-align:right;
	font-size:12pt;
}

table#contractTable tr:hover{
	background-color: #EEFDFF;
	cursor: pointer; cursor: hand;
}

#table_search{
	background-color: #e6e6f4;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
}
