@charset "UTF-8";
.container-scroller{
	height: 1200px;
}

.content-wrapper{
	height: 1050px;
}

td{
	font-size: 12px;
}

table#contractTable tr:hover{
	background-color: #EEFDFF;
	cursor: pointer; cursor: hand;
}

/* 표 */
.contractTable{
}

.contractTable tr{
   height: 32px;
   table-layout: fixed;
}

.contractTable th{
   background-color: #4B49AC;
   color: #fff;
}

