@charset "UTF-8";


#table_search{
 background-color : #e6e6f4;
 border-radius:10px;
 padding-top:11px;
 padding-bottom:20px;
 padding-left:10px;
 padding-right:15px;
 margin-bottom: 20px;
 width: 100%;
 height: 60px;
}

#select_search{
   width: 60%;
   float: left;
/*    margin-left: 10px; */
}

#table_write{
   float: right;
   margin-right: 5px;
   margin-bottom: 30px;
   width: 7%;
}

table{
   width: 100%;
   text-align: center;
   border-color: #6C7383;
   border-collapse: collapse;
}

#table_content{
   table-layout: fixed;
}

tr:hover td{ background-color: #e6e6f4; }

#table_content tr{
   height: 32px;
   table-layout: fixed;
}

#table_content th{
   background-color: #4B49AC;
   color: #fff;
}

#new_customer{
	float: right;	
}

#button2{
	margin-top:5px;
}

.scrollBar{
	OVERFLOW-Y:auto; width:100%; height:800px;
}
.scrollBar::-webkit-scrollbar{
    width: 10px;
}

.cust_details_table{
	pointer-events: none;
   	margin-top:10px;
}

.cust_details_table .tr{
   height: 45px;
}

.cust_details_table .th{
   background-color: #cccbe9;
}
