@charset "UTF-8";

table {
	border: 1px solid black;
	margin: auto;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

tr:hover td{
	background-color: #e6e6f4 !important;
}

th {
/* 	border: 1px solid black; */
	background-color: #e6e6f4;
	box-shadow:inset #ffffff 0px 5px 8px -1px,#ffffff 1px 3px 2px;
}