@charset "UTF-8";

#itemTable tr:last-child td {
	height: 35px; 
}

tr:hover td{
	background-color: #e6e6f4;
}

#table_search{
	text-align:left;
	padding-left: 35px;
	border-radius: 80px;
	border-style: none;
}

#item_buttons{
	text-align: right;
	padding-right: 42px;
	padding-bottom: 20px;
}

/* 가로 스크롤바 */
#table_content {
    overflow-x: auto; 
}

#table_content th{
	background-color: #4B49AC;
/* 	box-shadow:inset #ffffff 0px 5px 8px -1px,#ffffff 1px 3px 2px; */
	color: white;
	padding: 6.5px;
	font-weight: bolder;
}

#tableForm{
    text-align: center;
/*      margin-top: 25px;  */
}

#itemTable {
    margin-left: auto;
    margin-right: auto;
  }

/* 버튼 */
button#addRecipeButton{
	padding: 13px;
	background-color: #4B49AC;
	color: white;
}

button#updateRecipeButton{
	padding: 13px;
	background-color: #4B49AC;
	color: white;
}

button#saveRecipeButton{
	padding: 13px;
	background-color: #4B49AC;
	color: white;
}

button#deleteRecipeButton{
	padding: 13px;
	background-color: #4B49AC;
	color: white;
}

#table_search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6f4;
/*   border: 1px solid #666470; */
  padding: 12px;
  margin-left:45px;
  border-radius: 20px;
  width: 35%;
  text-align: left;
/*   box-shadow:inset #ffffff 0px 5px 8px -1px,#ffffff 1px 3px 2px; */
}

.input-search {
  padding: 5px;
  margin: 0 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.itemsearch-icon {
	padding-top:5px;
}

