@charset "UTF-8";

#table_search{
 background-color : #e6e6f4;
 border-radius:10px;
 padding-top:11px;
 padding-bottom:20px;
 padding-left:10px;
 padding-right:15px;
 margin-bottom: 20px;
 width: 100%;
 height: 60px;
}

#select_search{
   width: 50%;
   float: left;
/*    margin-left: 10px; */
}


#table_write{
   float: right;
   margin-right: 5px;
   margin-bottom: 30px;
   width: 7%;
}

#table_button{
   float: right;
   margin-right: 5px;
   margin-bottom: 30px;
   width: 24%;
}

#table_button3{
   float: right;
   margin-right: 5px;
   margin-bottom: 30px;
   width: 28%;
}

table{
   width: 60%;
   border-color: #6C7383;
   border-collapse: collapse;
   margin-bottom: 20px;
}

#notice{
   width: 90%;
   text-align: center;
   border-color: #6C7383;
   border-collapse: collapse;
   margin-bottom: 20px;
}

#content{
   width: 90%;
   border-color: #6C7383;
   border-collapse: collapse;
   margin-bottom: 20px;
}

#table_content{
   table-layout: fixed;
}

#table_content tr{
   height: 35px;
   table-layout: fixed;
}

#table_content th{
   background-color: #4B49AC;
   text-align: center;
   color: #fff;
}

tr:hover td{ 
	background-color: #e6e6f4; 
}

  
  #notice input[type="text"],
  #notice textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  #button-group {
    text-align: center;
  }
