@charset "UTF-8";

.top_table{
   width: 100%;
   height: 400px;
}

#table_search{
 background-color : #e6e6f4;
 border-radius:10px;
 padding-top:7px;
 padding-bottom:20px;
 padding-left:10px;
 padding-right:10px;
 margin-bottom: 20px;
 width: 100%;
 height: 60px;
}

#emp_search_table{
   table-layout: fixed;
}

#emp_search_table tr{
   height: 32px;
   table-layout: fixed;
}

#emp_search_table th{
   background-color: #4B49AC;
   color: #fff;
}

.search_option{
   height: 30px;
}

.btn btn-primary dropdown-toggle{
   width: 150px;
   height: 20px;
}

#selectBox{
   float: left;
   margin-top: 8px;
}

#select_search{
   width: 60%;
   float: left;
   margin-left: 10px;
}

#icon_search{
   padding-bottom: 30px;
   margin-left: 10px;
}

#checkbox_search{
   margin: 0 10px;
}

#insertEmployee{
   float: right;
   margin: 0px;
   padding: 0px;
   margin-right: 10px;
   margin-bottom: 30px;
   width: 10%;
}

a{
margin-left: 1px;
}


.search_table{
   clear: left;
}

table{
   width: 100%;
   text-align: center;
   border-color: #6C7383;
}

tr:hover td{ background-color: #e6e6f4; }

.emp_details_table{
   pointer-events: none;
   margin-top:10px;
}

h4{
   float: left;
   width: 100%;
   font-weight: 600;
   margin-bottom: 20px;
}

.emp_details{
   width: 100%;
   height : 300px;
}

#employee_default{
   border-radius:10px;
   width: 180px;
   height: 225px;
   margin: 10px 30px;
   margin-left:50px;
   background-color: red;
}

.emp_img{
   float: left;
}

.emp_infoDetails{
   float: left;
   width: 80%;
}


.contentbody{
   width: 100%;
   height: 1000px; 
   padding: 20px 20px;
}

.emp_details_table .tr{
   height: 45px;
}

.emp_details_table .th{
   background-color: #cccbe9;
}

.emp_tab{
   background-color: red;
   width: 100%;
}

ul,li {list-style:none;}

/*tab css*/
.tab{float:left; width:100%; height:290px; margin: 10px auto;}
.tabnav{font-size:0; width:600px; margin-bottom: 0px;}
.tabnav li{display: inline-block;  height:46px; text-align:center; border-right:1px solid #ddd;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
.tabnav li a.active:before{background:#4B49AC;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{ position:relative; display:block; background: #f8f8f8; color: #000; padding:0 30px; line-height:46px; text-decoration:none; font-size:16px;}
.tabnav li a:hover,
.tabnav li a.active{background:#fff; color:#4B49AC; }
.tabcontent{padding: 20px; height:244px; border-top:none; background-color: #fff; margin-right: 50px;}


/* 수정하기 버튼 */

.updateBtn{
	width: 140px;
	float: right;
	margin-right: 20px;
}

.scrollBar{
	OVERFLOW-Y:auto; width:100%; height:200px;
}
.scrollBar::-webkit-scrollbar{
    width: 10px;
}

.box1::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;    
}

