
.table_body{
	width: 1100px;
	height: 610px;
}

#table_search{
 background-color : #e6e6f4;
 border-radius:10px;
 padding-top:7px;
 padding-bottom:20px;
 padding-left:10px;
 padding-right:10px;
 margin-bottom: 20px;
 width: 1100px;
 height: 60px;
}

#emp_search_table{
   table-layout: fixed;
   font-size: 13px;
}

select {
	float: left;
	height: 30px;
	width: 150px;
	margin: 20px 10px;
	margin-left: 20px;
}

.input-search{
	margin-left : 10px;
	margin-right : 10px;
	height: 25px;
	width: 200px;
}


.left_table{
	width: 520px;
	height : 500px;
	float: left;
	margin-left: 30px;
}


/* 오른쪽*/
.right_table{
	float: left;
	margin-left: 10px;
	width: 520px;
	height : 500px;
}

#employee_default{
	width: 200px; height: 230px; border-radius:10px;
	margin-left:10px;
	float: left;
}

.emp_infoDetails{
	float: left;	
	margin-left:10px;
}

.emp_details_table{
	width: 100%;
	margin-top: 3px;
	margin-left: 10px;
}
.emp_details_table th{
	width: 100px;
}
.emp_details_table td{
	width: 180px;
}
.emp_details_table tr{
	height: 30px;
}



/* 표 */

table{
   width: 100%;
   text-align: center;
   border : 1px solid #6C7383;
   border-collapse : collapse;
}


#dept_table tr:hover td{ background-color: #e6e6f4; }

#dept_table{
   table-layout: fixed;
   font-size: 13px;
}

#dept_table tr{
   height: 32px;
   table-layout: fixed;
}

#dept_table th{
   background-color: #4B49AC;
   color: #fff;
   font-size: 13px;
}


.emp_details_table{
   font-size: 13px;
}

.emp_details_table tr{
   height: 32px;
}

.emp_details_table th{
   background-color: #4B49AC;
   color: #fff;
   font-size: 13px;
}

.emp_details_table tr:hover, .emp_details_table td:hover .emp_details_table th:hover .emp_details_table:hover{
   pointer-events: none;
}

