@charset "UTF-8";


.container-scroller{
	height: 1200px;
}
.content-wrapper{
	height: 1050px;
}

/* 검색창 부분 */

#search_div{height: 130px;}

#table_search{height: 60%;}

#search_select_div{
	margin-top: 18px;
	margin-left: 10px;
}

#store_date{margin-left: 10px;}

#startDate{margin-left: 10px; margin-right: 5px;}

#endDate{margin-left: 5px;}

#emp_num_search{margin-left: 10px;}

#findEmp_num{margin-left: 10px;}

#products_search{margin-left: 10px;}

#item_name{margin-left: 10px;}

.textBox { width: 80px; text-align: center;}

td{
	font-size: 12px;
}

/* 표 */
.store_total_table{
}

.store_total_table tr{
   height: 32px;
   table-layout: fixed;
}

.store_total_table th{
   background-color: #4B49AC;
   color: #fff;
}



/* 탭 */
ul,li {list-style:none;}

/*tab css*/
.tab{float:left; width:100%; height:290px; margin: 10px auto;}
.tabnav{font-size:0; width:600px; margin-bottom: 0px;}
.tabnav li{display: inline-block;  height:46px; text-align:center; border-right:1px solid #ddd;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
.tabnav li a.active:before{background:#4B49AC;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{ position:relative; display:block; background: #f8f8f8; color: #000; padding:0 30px; line-height:46px; text-decoration:none; font-size:16px;}
.tabnav li a:hover,
.tabnav li a.active{background:#fff; color:#4B49AC; }
.tabcontent{padding: 20px; height:600px; border-top:none; background-color: #fff; margin-right: 50px; width: 100%}


/* 인쇄하기 버튼 */
@media print {
  @page {size: landscape;}
  
	th {font-size: 11px;}
	td { font-size: 5px; }
  
}

.print_btn{
	margin-top: 10px;
}