@charset "UTF-8";

.top_table {
	width: 100%;
	height: 400px;
}

#table_search {
	background-color: #e6e6f4;
	border-radius: 10px;
	padding-top: 21px;
	padding-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	width: 100%;
	height: 75px;
}

#table_search2 {
	background-color: #e6e6f4;
	border-radius: 10px;
	padding-top: 24px;
	padding-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 21px;
	margin-bottom: 20px;
	margin-left: 15px;
	width: 97%;
	height: 75px;
}

#orderlist_table tr {
	height: 32px;
}

#orderlist_table th {
	background-color: #4B49AC;
	color: #fff;
}

#dynamicTable tr {
	height: 32px;
}

#dynamicTable th {
	background-color: #4B49AC;
	color: #fff;
}

#dynamicTable td input[name^="supplier"],
#dynamicTable td input[name^="weight"],
#dynamicTable td input[name^="stk_qnt"],
#dynamicTable td input[name^="supply_price"],
#dynamicTable td input[name^="order_sum"],
#dynamicTable td input[name^="order_vat"] {
	background-color: #dee2e6;
}

table {
	width: 100%;
	text-align: center;
	border-color: #6C7383;
}

input {
	width: 150px;
	border: 0px;
	text-align: center !important;
}

td tr th {
	font-size: 12px;
}

h4 {
	float: left;
	width: 100%;
	font-weight: 600;
	margin-bottom: 20px;
}

.input-search #order_num_search2 #order_date_search2 #due_date_search2 #pd_num_search2
	{
	border: 1px solid grey;
}

.contentbody {
	width: 100%;
	height: 2000px;
	padding: 20px 20px;
}

ul, li {
	list-style: none;
}

/*tab css*/
.tab {
	float: left;
	width: 100%;
	height: 290px;
	margin: 10px auto;
}

.tabnav {
	font-size: 0;
	width: 600px;
	margin-bottom: 0px;
}

.tabnav li {
	display: inline-block;
	height: 46px;
	text-align: center;
	border-right: 1px solid #ddd;
}

.tabnav li a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 3px;
}

.tabnav li a.active:before {
	background: #4B49AC;
}

.tabnav li a.active {
	border-bottom: 1px solid #fff;
}

.tabnav li a {
	position: relative;
	display: block;
	background: #f8f8f8;
	color: #000;
	padding: 0 30px;
	line-height: 46px;
	text-decoration: none;
	font-size: 16px;
}

.tabnav li a:hover, .tabnav li a.active {
	background: #fff;
	color: #4B49AC;
}

.tabcontent {
	padding: 20px;
	height: 615px;
	border-top: none;
	background-color: #fff;
	margin-right: 50px;
}
